// css变量
:root {
  --color-panel-bg: #fff; // 通用背景
  --left-panel-width: 48px; // 左侧宽度
  --top-header-height: 50px; // 顶部导航高度
  --left-draw-width: 300px; // 左侧抽屉宽度
  --color-line-normal: rgba(31,56,88,.1); // 边框颜色
}
